<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Admin</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row gx-3">
            <div class="col-12 col-md-6 mb-3" th:each="car:${cars}">
                <div class="card h-100 ">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.getBrand().getName()}">Card title</h5>
                        <p th:text="'Id: '+${car.getId()}"></p>
                        <p th:text="'Rok: '+${car.getYear()}"></p>
                        <a th:href="@{/cars/{id}/inspections/new(id=${car.getId()})}" class="btn btn-primary">Nová prohlídka</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
</body>
</html>