<!DOCTYPE html>
<html lang="cs"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Auto</title>
    <link rel='stylesheet' href='/webjars/bootstrap/5.3.3/css/bootstrap.min.css'>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>

</head>
<body class="container">
<div class="row d-flex justify-content-center">

    <section class="col-12 col-lg-5">
        <div class="p-3 pb-lg-5 px-lg-5 mt-3 border rounded">
            <h1 class="text-center mb-4" th:text="${title}">Autorizace (přihlášení/registrace)</h1>
            <div class="alert alert-danger" role="alert" th:if="${param.error}">Chyba při přihlášení</div>
            <div layout:fragment="content"></div>
        </div>
    </section>
</div>

</body>
</html>