<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{auth-layout.html}">
<head>
    <title>Přihlášení</title>
</head>
<body>
<section layout:fragment="content">
        <form th:action="@{/login}" method="POST" class="">
            <div class="mb-3">
                <label for="username" class="form-label">Přihlašovací jméno</label>
                <input type="text" name="username" id="username" class="form-control" autocomplete="username" autofocus required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Heslo</label>
                <input type="password" name="password" id="password" class="form-control"
                       autocomplete="current-password"
                       required>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" name="remember-me" checked id="remember-me">
                <label class="form-check-label" for="remember-me">
                    Přihlásit trvale?
                </label>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Přihlásit se</button>
            </div>
        </form>
 </section>
</body>
</html>
